@font-face {
  font-family: 'IRANSharp';
  src: url('./IRANSharp/WebFonts/fonts/woff2/iransharp_light_web.woff2') format('woff2'),
       url('./IRANSharp/WebFonts/fonts/woff/iransharp_light_web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSharp';
  src: url('./IRANSharp/WebFonts/fonts/woff2/iransharp_regular_web.woff2') format('woff2'),
       url('./IRANSharp/WebFonts/fonts/woff/iransharp_regular_web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSharp';
  src: url('./IRANSharp/WebFonts/fonts/woff2/iransharp_bold_web.woff2') format('woff2'),
       url('./IRANSharp/WebFonts/fonts/woff/iransharp_bold_web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
